
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Search country app</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ms-auto">

        <a class="nav-link"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Search country</a>

        <a class="nav-link"
          routerLink="region"
          routerLinkActive="active">Region</a>

        <a class="nav-link"
          routerLink="capital"
          routerLinkActive="active">Capital</a>
          
      </div>
    </div>
  </div>
</nav>