<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th> # </th>
            <th> Flag </th>
            <th> Official name </th>
            <th> Capital </th>
            <th> Population </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index">
            <td> {{i+1}} </td>
            <td> <img src="{{pais.flags.png}}" class="small-img" ></td>
            <td> <a [routerLink]="['/pais', pais.cca2]">{{pais.name.official}}</a></td>
            <td>{{pais.capital}}</td>
            <td> {{pais.population | number}} </td>
        </tr>
    </tbody>
</table>