@media (max-width: 500px) {
    body{
        font-size: xx-small !important;
        background-color: brown !important;
    }
    
    .table{
        font-size: 13px;
    }

    .small-img{
        width: 38px;
        height: 18px;
    }
}
.small-img{
    width: 45px;
    height: 25px;
}
